:root {
    --primary-400: #0F0;
    --accent-900: #0f0f0f;
}

::selection {
    background-color: var(--primary-400);
    color: var(--accent-900);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--accent-900);
}

body,
input,
button,
h1,
p,
a {
    color: var(--primary-400);
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;

    margin: 0;
}
a:hover {
    background-color: var(--primary-400);
    color: var(--accent-900);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    background-color: var(--accent-900);
    border-top: none;
}

.toolbar {
    padding: 0 1em;
    display: flex;
    align-items: center;

    width: 100vw;
    height: 10vh;

    background-color: var(--accent-900);
}

.toolbar.top {
    border-bottom: 1px dotted var(--primary-400);
}
.toolbar.bottom {
    border-top: 1px dotted var(--primary-400);
}

.toolbar > p {
    font-size: 5vh;
    height: 5vh;
}

input {
    flex: 1;
    background: transparent;
    border: transparent;
    outline: none;
    border-bottom: 1px solid var(--primary-400);
    transition: border-bottom 0.2s linear;
}

input:focus {
    border-bottom: 2px solid var(--primary-400);
    transition: border-bottom 0.2s linear;
}

button {
    font-size: 1em;
    background-color: var(--accent-900);
    border: 0;
    padding: 0;
}
button.submit {
    margin-left: 1em;
    width: 2em;
    height: 2em;
}
button.room {
    height: 2em;
}
button:hover {
    background-color: #0F0;
    color: #0f0f0f;
    cursor: pointer;
}

#username {
    padding-right: 1em;
    border-right: 1px dotted var(--primary-400);
}

#logout {
    margin-left: 1em;
}