* {
    background-color: rgb(16, 16, 16);
    color: rgb(0, 255, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

::selection {
    background-color: rgb(0, 255, 0);
    color: rgb(16, 16, 16);
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px dashed rgb(0, 255, 0);
    width: 400px;
    height: 300px;
}
input {
    margin: 0 25%;
    border: 1px solid rgb(0, 255, 0);
    padding: 0.5em;
}
input:focus {
    outline: none;
}
input[type="button"] {
    transition: background-color 150ms;
}
input[type="button"]:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 0);
    color: rgb(16, 16, 16);
}